// Product Detail

.productDetail{
    background-color: #000000;
    color: white;
    min-height: 82vh;
}
.productContainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    // border: 1px solid red;
    border-radius: 0.5rem;
    
}

// Product img
.productImg{
    border-radius: 1rem;
    background-color: #1C2230;
    flex: 1;
    img{
        height: 20rem!important;
    }
}
.backArrow{
    
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    margin: 0.5rem;
    color: white
    // background-color: white;
}


// Product text
.productTxt{
    border-radius: 1rem;
    background-color: #fff;
    color: black;
    flex: 1;
    padding: 4rem 1rem;
    h2{
        font-size: 2.4em;
        line-height: 1em;
        color: #444;
    }
    span{
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #999;
       
    }
    p{
        max-width: 85%;
        margin-top: 1rem;
        margin-left: 15%;
        color: #333;
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }
    h3{
        font-size: 1.8rem;
        color: #7DD5FD;
        display:inline-block;
        width:50%;
        vertical-align:bottom;
        span{
            font-size: 1.4rem;
        }
    }
}
Link {
    &:hover{
        text-decoration: none;
    }
}

.inliner button{
    display: inline-block;
    width:50%;
    vertical-align: top;
}
.addCartBtn{
    background-color:#222;
    color: white;
    transition: 0.4s;
    &:hover{
        background-color:#7DD5FD;
        color:#222;
    }
}


@media only screen and (max-width: 620px){
    .productContainer{
        flex-direction: column;
    }
    .productImg{
        img{
            height: 15rem!important;
        }
    }
    .productTxt{
        padding: 1rem;
    }

}