$mainTransition: all 0.3s linear;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.check {
  background: purple;
  color: orange;
}
ul {
  list-style-type: none;
  li {
    display: inline-block;
  }
}
// Social icons
.social_icons {
  margin-right: 1rem;
  li {
    margin-right: 1rem;
    padding-top: 0.1rem;
  }
}
.social_icon {
  font-size: 1.5rem;
  padding-top: 0.2rem;
  height: 100%;
}
.fb_icon:hover {
  color: #3b5998;
}
.twitter_icon:hover {
  color: #00acee;
}
.insta_icon:hover {
  color: #fbad50;
}

// Button
.generic_btn {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: $mainTransition;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
